In [ ]:
use sakila;

In [ ]:

SELECT customer.first_name,customer.last_name,customer.email,city.city,address.address
FROM city
join address
on city.city_id=address.city_id
join customer 
on address.address_id=customer.address_id
where city.city_id= 312;

In [ ]:
select  film.title, film.description, film.release_year, film.rating,film.special_features
from category
join film_category
on category.category_id=film_category.category_id
join film
on film_category.film_id=film.film_id
where name = 'comedy';

In [ ]:
select actor.last_name,film.title,film.release_year
from actor
join film_actor
on actor.actor_id=film_actor.actor_id
join film 
on film_actor.film_id=film.film_id
where last_name = 'Lollobrigida';

In [ ]:
select actor.first_name,actor.last_name,film.title,film.release_year
from actor
join film_actor
on actor.actor_id=film_actor.actor_id
join film 
on film_actor.film_id=film.film_id
where title = "Bingo Talented";

In [ ]:
SELECT payment.customer_id, payment.amount
FROM payment
WHERE payment.amount > (2 * (SELECT AVG(amount) FROM payment));

In [ ]:
SELECT customer.first_name, customer.last_name, COUNT(payment.payment_id) AS num_payments
FROM customer
JOIN payment 
ON customer.customer_id = payment.customer_id
GROUP BY customer.customer_id
ORDER BY num_payments DESC
limit 5;